<div class="content">
    <div class="row">
        <div class="col col-12 text-center">
            <img class="img-thumbnail" style="max-width: 100%;" ng-src="{{picture}}" ng-show="picture" alt="photo"/>
            <div class="progress progress-striped active" style="width: 25%; margin: 10px auto;" ng-hide="picture">
                <div class="progress-bar" style="width: 100%"></div>
            </div>
        </div>
    </div>
    <form ng-hide="upload">
        <div class="row">
            <div class="col col-12">
                <input type="text" class="input-large col-lg-12" placeholder="Title" ng-model="title" required/>
            </div>
            <div class="col col-6">
                <input type="text" ng-model="position.latitude" placeholder="Latitude" disabled />
            </div>
            <div class="col col-6">
                <input type="text" ng-model="position.longitude" placeholder="Longitude" disabled />
            </div>
            <div class="col col-12 text-right">
                <button type="submit" class="btn btn-primary btn-large" ng-click="upload()" ng-disabled="!title || !picture || !position">Upload!</button>
            </div>
        </div>
    </form>
    <div class="row" ng-show="upload" style="margin-top: 10px;">
        <div class="col col-12">
            <div class="progress progress-striped active">
                <div class="progress-bar" ng-style="{width: upload.percent}"></div>
            </div>
        </div>
    </div>
</div>